#bg {
    height: 840px;
    width: 940px;
    background-size: cover;
    background-image: url(/image/bg.jpg), url(https://andrey1303110.github.io/beetroot-css3/image/bg.jpg);
    background-repeat: no-repeat;
    margin: 0 auto;
}

#headblock {
    height: 450px;
    width: 940px;
    text-align: center;
}

.uptitle {
    padding-top: 143px;
    font-size: 1em;
    color: #898f99;
    letter-spacing: 6px;
}

.title {
    margin: 35px auto 40px;
    font-size: 4em;
    color: #0ec8cb;
    letter-spacing: 8px;
}

.downtitle {
    text-transform: uppercase;
    font-size: 1.5em;
    color: #999999;
    letter-spacing: 1px;
    padding-bottom: 70px;
}

#downblock {
    display: flex;
    text-align: center;
    height: 390px;
    background-color: rgba(255, 255, 255, 0.415);
}

.img1, .img2, .img3, .img4 {
    height: 70px;
    width: 235px;
    padding-top: 50px;
    padding-bottom: 35px;
}

.img1 {
    background-image: url(../image/anchor.png), url(https://andrey1303110.github.io/beetroot-css3/image/anchor.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img2 {
    background-image: url(../image/diamond.png), url(https://andrey1303110.github.io/beetroot-css3/image/diamond.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img3 {
    background-image: url(../image/glasses.png), url(https://andrey1303110.github.io/beetroot-css3/image/glasses.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img4 {
    background-image: url(../image/tv.png), url(https://andrey1303110.github.io/beetroot-css3/image/tv.png);
    background-repeat: no-repeat;
    background-position: center;
}

.name {
    font-size: 1.3em;
    margin-top: 90px;
    padding-bottom: 35px;
    height: auto;
}

.text2 {
    color: #777777;
    margin: 50px, 15px, 15px, 40px;
    height: 200px;
}
section:hover {
    background-color: rgba(14, 200, 203, 0.68);
    color: white;
}

section:hover .text2 {
    color: white;
}


.img1:hover {
    background-image: url(../image/anchorw.png), url(https://andrey1303110.github.io/beetroot-css3/image/anchorw.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: all .0.1s ease-in;
}

.img2:hover {
    background-image: url(../image/diamond.png), url(https://andrey1303110.github.io/beetroot-css3/image/diamondw.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img3:hover {
    background-image: url(../image/glassesw.png), url(https://andrey1303110.github.io/beetroot-css3/image/glassesw.png);
    background-repeat: no-repeat;
    background-position: center;
}

.img4:hover {
    background-image: url(../image/tvw.png), url(https://andrey1303110.github.io/beetroot-css3/image/tvw.png);
    background-repeat: no-repeat;
    background-position: center;
}
